header {
  text-align: center;
  margin-bottom: 40px;
}

#rgb-color {
  text-align: center;
  font-size: larger;
}

#color-options {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ball {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid black 1px;
  margin: 5px;
}

#game-status {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: larger;
}

#score-container {
  text-align: center;
  margin-top: 15px;
}