#title {
  text-align: center;
}

#rgb-color {
  margin-top: 50px;
  text-align: center;
}

.ball {
  display: inline-block;
  border-radius: 50%;
  border: solid;
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-left: 25px;
  margin-top: 25px;
}
